@model SmartTargetRegion
@using System.Linq
@using Sdl.Web.Modules.SmartTarget.Models;
<div id="inset-2" @Markup.Region(Model)>
    @if (SiteConfiguration.IsStaging)
    {
        <span>
            @Html.Raw(Model.XpmMarkup)
            @if (Model.HasSmartTargetContent)
            {
                foreach (var promotion in Model.Items.Cast<SmartTargetPromotion>().Where(p => p.IsVisible))
                {
                    <span>
                        @Html.Raw(promotion.XpmMarkup)
                        <h2>@promotion.Title</h2>
                        <h3>@promotion.Slogan</h3>
                        @ViewBag.Renderer.RenderSmartTargetPromotion(promotion, Html)
                    </span>
                }
            }
            else
            {
                //Render fallback content
                foreach (var item in Model.Items)
                {
                    @ViewBag.Renderer.RenderEntity(item, Html)
                }
            }
        </span>
    }
    else
    {
        if (Model.HasSmartTargetContent)
        {
            foreach (var promotion in Model.Items.Cast<SmartTargetPromotion>().Where(p => p.IsVisible))
            {
                @ViewBag.Renderer.RenderSmartTargetPromotion(promotion, Html)
            }
        }
        else
        {
            //Render fallback content
            foreach (var item in Model.Items)
            {
                @ViewBag.Renderer.RenderEntity(item, Html)
            }
        }
    }
</div>